@font-face {
    font-family: HarryPotter;
    src: url(./HARRYP__.TTF);
}


section{
    border: 2px dotted black;
    padding:10px;
    width:500px;
    margin:20px
}



/* Colors: */
.box-color{
border: 2px solid black;
width:400px;
margin:20px;
text-align: center;
font-weight: bold;
}

.color1{
    background-color: #707070;
}

.color2{
    background-color: #F0F8FF;
}

.color3{
    background-color: #FFFF00;
}

.color4{
    background-color: #FF4500;
}

/* Fonts: */

.font1{
font-family: HarryPotter;
font-size: 150%;
}

.font2{
    font-family: 'Comic Sans MS';
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

/* Text Styles: */

.h1{
    font-family: HarryPotter;
    font-size: 600%;
}

.style{
    font-family: 'Comic Sans MS';
}